version: '3'

services:
  agile-clickhouse:
    image: "yandex/clickhouse-server:{{ clickhouse_version }}"
    restart: unless-stopped
    container_name: agile-clickhouse
    hostname: agile-clickhouse
    volumes:
      - "{{ clickhouse_data_dir }}:/var/lib/clickhouse"
      - "{{ clickhouse_config_dir }}/config.xml:/etc/clickhouse-server/config.xml:ro"
      - "{{ clickhouse_config_dir }}/users.xml:/etc/clickhouse-server/users.xml:ro"
    cpus: "{{ clickhouse_docker_limit_cpu }}"
    mem_limit: "{{ clickhouse_docker_limit_memory }}"
    cap_add:
      - SYS_ADMIN
      - SYS_NICE
      - NET_ADMIN
    ports:
      - "{{ clickhouse_listen_tcp_port }}:{{ clickhouse_listen_tcp_port }}"
      - "{{ clickhouse_listen_http_port }}:{{ clickhouse_listen_http_port }}"
