# {{ ansible_managed }}

[Unit]
Description=ClickHouse HTTP proxy and load balancer
Documentation=https://github.com/Vertamedia/chproxy
After=network-online.target systemd-resolved.service
Wants=network-online.target systemd-resolved.service

[Service]
Type=simple
User={{ clickhouse_general_owner }}
Group={{ clickhouse_general_owner }}

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier={{ clickhouse_proxy_service_name }}

ExecStart={{ clickhouse_proxy_binary_dir }}/{{ clickhouse_proxy_service_name }} \
    -config={{ clickhouse_config_dir }}/proxy.yml

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
